.media-list {
    padding: 0px;
}

.media-left {
    margin-right: 5px;
}

.media-body {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 5px;
}

.media-body .media-body {
    margin-top: 10px;
}

#compName {
    margin-bottom: 0px;
    width: 100%;
    border: 3px;
    padding: 0px;
    text-align: left;
    color: #2183BD;
    font-family: sans-serif;
}

#itemName {
    margin-bottom: 10px;
    width: 100%;
    border: 3px;
    padding: 0px;
    text-align: left;
    font-family: Courier;
    text-transform: uppercase;
}

#date {
    color: gray;
    margin-bottom: -10px;
}

#itemImage {
    border: 1px solid;
    border-color: #ACB1B4;
}


